body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Style pour le plein écran */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
  overflow-y: auto;
}

.ribbon {
  background-color: #1C5DAA;
  color: white;
  font-weight: bold;
  font-size: 14px;
  padding: 5px 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/* Style pour le titre */
.title {
  text-align: left;
  margin-top: 60px;
  margin-left: 10px;
  color: #2C2E42;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

#servicesCount {
  color: var(--digieye-blue, #1C5DAA);
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.services-column {
  flex: 1; /* Take up the available height */
  display: flex;
  flex-direction: column;
}

#services {
  margin-top: 0px;
  text-decoration: underline;
}

/* Style pour les éléments de liste des services */
#services li {
  margin: 10px 0;
}

#rubrique {
  padding: 0px;
  border: 1px solid #000000;
  background-color: #F5F6F8;
  height: 1080px;
  width: 643px;
  flex-shrink: 0;
}

.rubrique {
  position: fixed;
  right: -700px; /* Initial position off the screen */
  height: 100%;
  background: #F5F6F8;
  z-index: 5;
  box-shadow: -8px 0px 40px 0px rgba(0, 0, 0, 0.25);
  transition: right 0.3s ease-in-out;
  overflow-x: auto;
  overflow-y: auto;
}

.rubrique.active {
  right: 0;
}

.rubrique-content {
  padding: 20px;
}

.rubrique-open {
  right: 0; /* Slide in the menu */
}

.rubrique.rubrique-open {
  height: 100%; /* Ajustez la hauteur souhaitée de la fenêtre coulissante */
}

#sendButton {
  border: #73c5f4;
  margin-left:50px;
  margin-bottom: 5px;
  background-color: #1C5DAA;
  height: 20px;
  cursor: pointer;
  align-items: center;
}

/* Style for the table */
table {
  width: 100%;
  height: 64px;
  margin-top: 5px;
  white-space: nowrap; /* Prevent line breaks in table cells */
  overflow-x: auto;
  table-layout: auto;
}

th, td {
  width: 100%;
  border: none;
  padding: 8px;
  text-align: center;
  white-space: nowrap; /* Prevent text from wrapping to the next line */
  overflow: hidden; /* Hide any overflow to keep the header in a single line */
}

/* Style for the table header (th) */
th {
  background-color: #a7a3ae;
  color: white;
  font-weight: normal;
  font-size: 12px;
  padding: 8px;
  top: 0;
  width: auto;
}

/* Style for the table rows (td) */
td {
  background-color: #f0eeee;
  position: relative;
  font-size: 12px;
  padding: 8px;
  text-align: center; /* Adjust the alignment of the text as needed */
  white-space: nowrap; /* Prevent text from wrapping to the next line */
  overflow: hidden;
  width: 100%;
}

.empty-row {
  height: 35px;
}

table#servicesTable tbody tr.odd-row td {
  background: rgba(213, 215, 225, 0.20);
}

/* Style pour les lignes paires */
table#servicesTable tbody tr.even-row td {
  background: #FFF;  
}

tbody {
  height: 100%;
  overflow-y: auto; /* Activer le défilement vertical si nécessaire */
}

#servicesTable {
  border-collapse: collapse;
  table-layout: auto;
  width: 100%;
}

.table-row-clickable {
  cursor: pointer;
}

/* Style pour les cellules d'informations */
table#servicesTable td {
  width: auto; /* Ajustez la largeur selon vos préférences */
  height: 10px; /* Ajustez la hauteur selon vos préférences */
  font-size: 10px; /* Ajustez la taille de police selon vos préférences */
  padding: 4px; /* Ajustez le padding selon vos préférences */
  text-align: center; /* Ajustez l'alignement du texte selon vos préférences */
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left: 10px; /* Adjust the left margin of the title container as needed */
  margin-right: 10px; /* Adjust the right margin of the title container as needed */
}

.refresh-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70px;
}

#refreshButton {
  margin-top: 30px;
  border: 2px solid white;
  color: white;
  cursor: pointer;
  font-size: 12px;
  display: inline-flex;
  height: 38px;
  padding: 6px 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 4px;
  background: var(--anagalous-digi, #00CDA8);
}

.refresh-icon {
  margin-right: 8px;
  color: var(--pure-white, #FFF);
  font-family: Work Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

#searchBar {
  border: none;
  background-color: transparent;
  height: 23px;
  margin-left: 0px;
  margin-top: 10px;
  align-items: center;
  width: 220px;
}

.search-icon {
  font-size: 20px;
  margin-right: 16px;
}

.search-container {
  height: 33px;
  width: 270px;
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  border: 2px solid #797A80;
  border-radius: 4px;
  position: relative;
  margin-top: 31px;
  margin-right: 10px;
  z-index: 1;
}

.highlighted {
  background-color: yellow;
  font-weight: bold;
}

.suggestions-section {
  position: absolute;
  background-color: #a7a3ae;
  border: 1px solid #ccc;
  padding: 10px;
  display: none;
  z-index: 99999999999;
  width: 221px; /* Adjust the width as needed */
  max-height: 200px; /* Set the maximum height to control scroll if needed */
  overflow-y: auto;
  top: 35px;
}

.suggestion-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.suggestion-list li {
  cursor: pointer;
  padding: 8px;
  border-bottom: 1px solid #797A80;
}

/* Afficher la rubrique lorsque des suggestions sont disponibles */
.suggestions-section.show {
  display: block;
}

.suggestion-list li:hover {
  background-color: #FFFFFF;
}

#notFoundMessage {
  display: none;
  color: red;
  font-style: italic;
}

/* Style pour mettre en évidence le mot sélectionné avec un arrière-plan bleu */
.highlighted-bg {
  background-color: #1C5DAA;
  color: white; /* Assurez-vous que le texte est lisible sur l'arrière-plan bleu */
  transition: background-color 0.3s ease; /* Animation de transition pour la mise en évidence */
}

.services-container {
  position: relative;
  width: 100%;
  overflow-x: auto;
}

/* CSS for the buttons and search bar */
button,
input {
  height: 20px; /* Adjust the button and search bar height */
  font-size: 16px;
  padding: 5px 10px;
}

/* Adjust the position of the Font Awesome icons inside the buttons */
button i {
  margin-right: 5px;
}

.export-button-container {
  /* Add your previous CSS rules for the export button container here */
  align-items: center;
}

#exportButton {
  /* Add your previous CSS rules for the export button here */
  padding: 5px 10px; /* Add padding to create space around the icon and text */
  border: 2px solid #424656;
  background-color: #424656;
  color: white;
  cursor: pointer;
  margin-top: 31px;
  height: 37px;
  font-size: 12px;
  border-radius: 5px;
  display: flex; /* To make the icon and text appear side by side */
  align-items: center; /* To center the icon and text vertically */
}

.export-icon {
  /* Add your previous CSS rules for the export icon here */
  font-size: 12px;
  color: white;
  margin-right: 8px;
}

.unbind-button-container button[disabled] .unbind-icon {
  visibility: inherit;
}

#unbindButton {
  /* Add your previous CSS rules for the Unbind button here */
  padding: 5px 10px; /* Add padding to create space around the icon and text */
  border: 2px solid #424656;
  background-color: #424656;
  color: white;
  cursor: pointer;
  height: 37px;
  margin-top: 31px;
  font-size: 12px;
  margin-right: 2px;
  border-radius: 5px;
  display: flex; /* To make the icon and text appear side by side */
  align-items: center; /* To center the icon and text vertically */
}

.unbind-icon {
  /* Add your previous CSS rules for the Unbind icon here */
  color: white;
  margin-right: 8px;
}

/* Style for the table rows (td) */
tbody tr td {
  background-color: #f0eeee;
  position: relative;
  padding: 8px;
  font-size: 12px;
  text-align: center; /* Adjust the alignment of the text as needed */
  white-space: nowrap; /* Prevent text from wrapping to the next line */
  overflow: hidden;
}

/* Style pour les lignes lorsqu'elles sont survolées */
table#servicesTable tbody tr:hover td {
  background-color: #a7a3ae;
  color: white; /* Changer la couleur du texte pour une meilleure lisibilité */
}

/* Styling for the sorting rubrique */
.sorting-rubrique {
  position: absolute;
  background-color: #f2f2f2; /* Light gray background */
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 8px;
  display: none; /* Hide the rubrique by default */
  z-index: 2;
}

/* Styling for the content inside the sorting rubrique */
.rubriques-contents {
  display: flex;
  flex-direction: column; /* Stack the buttons vertically */
  align-items: center; /* Center the buttons horizontally */
}

/* Styling for the sorting buttons */
.sorting-options {
  display: flex;
  flex-direction: column; /* Stack the buttons vertically */
  gap: 8px; /* Add some space between buttons */
}

.sorting-options button {
  background-color: #fff;
  color: #000;
  padding: 12px; /* Set fixed padding for all sides */
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
  min-width: 200px; /* Set a minimum width for the buttons */
  text-align: center; /* Center the text inside the buttons */
  font-size: 16px; /* Increase font size */
  white-space: nowrap; /* Prevent text from wrapping to a new line */
  overflow: hidden; /* Hide any overflow text */
  text-overflow: ellipsis; /* Add an ellipsis (...) when text overflows */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hover effect for the sorting buttons */
.sorting-options button:hover {
  background-color: #757379;
  color: #fff;
}

/* Active (clicked) state for the sorting buttons */
.sorting-options button:active {
  background-color: #555;
  color: #fff;
}

/* Add CSS for the rubrique header */
.rubrique-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

/* Style the rubrique title */
.rubrique-title {
  display: flex;
  margin-left: 5px;
  margin-right: 360px;
  color: var(--digieye-black, #161615);
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; 
}

/* Style the blue circle */
.rubrique-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  flex-shrink: 0;
  background-color: #1C5DAA;
}

.rubrique-header .rubrique-title .rubrique-dot {
  margin-right: 5px;
}

/* Style the close button (cross "X") */
.rubrique-close-button {
  cursor: pointer;
  font-size: 24px;
  flex-shrink: 0;
}

/* Align the "Modify" button to take full width with padding */
.rubrique-buttons {
  margin-top: 0px; /* Push the buttons to the bottom of the container */
  display: flex;
  justify-content: center;
  align-items: center;
}

.rubrique-buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 592px;
  padding: 16px 36px;
  margin-right: 35px;
  font-size: 14px;
  color: white;
  border-radius: 4.8px;
  border: 1px solid var(--digieye-blue, #1C5DAA);
  background: var(--digieye-blue, #1C5DAA);
}

label {
  font-family: Work Sans;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 5px;
  margin-left: 15px;
  display: inline-block;
  width: 100px;
  color: var(--digieye-black, #161615);
}

/* Style for the input fields */
input[type="text"] {
  font-size: 14px;
  padding: 6px 12px;
  margin-bottom: 10px;
  margin-left: 65px;
  flex-shrink: 0;
  width: 417px; /* Make the input field take the full width */
  border-radius: 4px;
  border: 1px solid var(--gray-400, #CED4DA);
  background: var(--gray-200, #E9ECEF);
}

.rubrique-content {
  padding: 10px;
}

.input-container {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap when they exceed container width */
  gap: 30px;
}

.input-item {
  display: flex;
  align-items: center; /* Align label and input horizontally */
  margin-bottom: 10px;
}

/* Styling for the rubrique separator */
.rubrique-separator {
  border: none;
  border-top: 1px solid #ccc;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 1px;
  background: rgba(33, 37, 41, 0.25);
}

.security-verification {
  display: flex;
  align-items: center;
  margin-left: 15px;
  color: rgba(33, 37, 41, 0.50);
  font-family: Work Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; 
}

.security-verification::after {
  content: "";
  flex: 1;
  border-top: 1px solid #ccc;
  margin-left: 10px;
}

.administrator-password {
  display: flex;
  gap: 5px; /* Espacement entre les éléments */
  margin-top: 20px;
  color: #161615;
  white-space: nowrap;
  align-items: center;
  font-family: Work Sans;
  font-size: 14px;
  position: relative;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.password-input-container {
  flex-direction: column;
  display: flex;
  position: relative;
  flex-grow: 1;
  width: 60px;
}

.password-input {
  font-size: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  position: relative;
  display: flex;
  width: 417px;
  padding: 6px 12px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--gray-400, #CED4DA);
  background: var(--gray-200, #E9ECEF);
}

.password-icon {
  position: absolute;
  right: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 10px;
  display: flex;
  padding: 1px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--hit-box, rgba(255, 255, 255, 0.00));
}

.forgot-password-link {
  color: #424656;
  margin-left: 540px;
  text-align: right;
  font-family: Work Sans;
  font-size: 12px;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.toolbar {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.toolbar button {
  flex: 1; /* Fait en sorte que tous les boutons prennent une part égale de l'espace disponible */
  height: 30px; /* Définissez la hauteur souhaitée pour les boutons */
  font-size: 12px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}

.checkbox-container {
  margin-left: 20px;
  display: flex;
  align-items: center; /* Align items vertically */
  margin-top: 5px;
  color: var(--digieye-black, #161615);
  font-family: Work Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  user-select: none;
}

.checkbox-container label {
  margin-top: 5px;
  white-space: nowrap;
  margin-left: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.rubrique-content input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  border-radius: 4px;
  cursor: pointer;
}

.header-cell {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.sort-icon {
  margin-right: 5px;
  margin-left: 20px;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.separator {
  width: 2px;
  height: 30px;
  background-color: #ccc;
  margin-left: 1px;
  margin-right: 5px;
}

/* Alignement vertical du texte et de l'icône */
.unbind-button-container button,
.export-button-container button,
.refresh-button-container button,
.search-container input {
  display: flex;
  align-items: center;
}

/* Ajouter une marge entre l'icône et le texte */
.unbind-icon svg,
.export-icon svg {
  margin-right: 8px;
}

/* Ajoutez ce style à votre feuille de style CSS */
.rubrique.dhcp-active .rubrique-content {
  display: none;
}

#errorContainer {
  margin-left: 200px;
  font-size: 12px;
  white-space: nowrap;
  margin-top: 0px;
}

.sort-icon.reverse {
  transform: rotate(180deg);
}

.rubrique-modal {
  position: fixed;
  height: 550px;
  width: 500px; /* Largeur augmentÃƒÂ©e */
  bottom: -650px; /* Commence en bas de l'ÃƒÂ©cran */
  left: 39%;
  transform: translateX(-50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: bottom 0.3s ease; /* Ajout de la transition */
}

#rubriqueContainer {
  display: none;
}

.rubrique-ribbon {
  display: flex;
  justify-content: space-between;
  background-color: #1C5DAA;
  align-items: center;
  font-weight: bold;
  color: white;
  font-family: Work Sans;
  font-size: 50%;
  padding: 10px 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: absolute;
  height: 25px;
  top: 0; 
  left:0;
  right:0;
}

.rubrique-ribbon h2 {
  margin: 0;
}

.rubrique-close-button {
  cursor: pointer;
  font-size: 18px;
}

.rubrique-buttons-container {
  display: flex;
  justify-content: flex-end;
}

.rubrique-cancel-button {
  height: 30px;
  width: 70px;
  margin-top: 10px;
  text-align: center;
  font-family: Work Sans;
  font-size: 12px;
  color: white;
  margin-right: 5px;
  cursor: pointer;
  background-color: #424656;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.rubrique-confirm-button {
  height: 30px;
  width: 70px;
  margin-top: 10px;
  text-align: center;
  margin-left: 0;
  font-family: Work Sans;
  font-size: 12px;
  color: white;
  cursor: pointer;
  background-color: #1C5DAA;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.rubrique-info-text {
  font-size: 10px;
  margin-top: 50px;
}

.rubrique-checkboxes-wrapper {
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-left: 40px;
  justify-content: center;
}

.rubrique-checkbox {
  margin: 0 8px;
  width: 10px;
  height: 10px;
}

.rubrique-checkbox-label {
  font-size: 12px;
  font-family: Work Sans;
}

.rubrique-checkboxes-wrapper label {
  margin: 0;
}

.rubrique-files-method {
  margin-top: 30px;
  margin-left: 35px;
  font-size: 12px; 
  font-family: Work Sans;
}

.rubrique-text-inputs-container {
  text-align: center; /* Centre horizontalement les champs de texte */
  margin-top: 10px;
}

.rubrique-text-input {
  height: 20px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Work Sans';
}

.rubrique-align-left {
  text-align: left;
}

.rubrique-password-icon {
  vertical-align: middle;
}

.rubrique-separators {
  margin-top: 40px; /* Espace autour du trait horizontal */
  border: none;
  width: 520px;
  margin-left: 0px;
  border-top: 1px solid #ccc; 
}

.rubrique-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Couleur de superposition semi-transparente */
  z-index: 999; /* Placez la superposition au-dessus de tout */
  display: none; /* Masquez la superposition par défaut */
}


